/*border in elements are added for checking purpose*/

html,body{
	margin: 0;
	padding: 0;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;
	background-color: #F5F5F5;
}

header{
	display: flex;
	flex-direction: row;
	background: #283E4A;
	padding:10px 15vw 0 15vw;
/*	height: 37px;*/
}
#space{
	margin-left: 15%;
}
@media only screen and (max-width: 1300px) {
	header{
		padding:10px 0 0 15px;
	}
}


.search{
	display: flex;
	border: none;
	border-radius: 3px;
	background-color: #E1E9EE;
	color: #385260;
	padding: 7px;
	width:25%;
	height: 21px;
}

input[type="search"]{
	border: none;
	background-color: transparent;
	color: #385260;
	margin-left: 15px;
	width: 100%;
}


.nav_links{
	margin: 3px 0 0 0;
	padding: 0;
	list-style: none;
/*	border: 1px solid black;*/
	display: flex;
	
}

.nav_links li,a{
	padding-right: 25px;
	color: #B3B6B9;
	text-decoration: none;
	text-align: center;
}

.caption{
	font-size: 12px;
	line-height: 0;
	color: #B3B6B9;
}

.text_height{
	line-height: 0.3;
}

#vl{
	border-left: 2px solid #B3B6B9;
	height: 35px;
}


main{
	display: grid;
	grid-template-columns: 2fr 3fr 2fr;
/*	height: 92vh;*/
}



main div{
/*	border: 1px solid black;*/
}

.firstSection{
/*	border: 1px solid black;*/
	display: flex;
	flex-direction: row-reverse;
}

.contacts-wrap{
	/* border: 1px solid black; */
	display: flex;
	justify-content: center;
}
.suggest-wrap{
	display: flex;
	margin-top: 5px;
	align-items: center;
}
.suggest{
	width: 25px;
	margin-left: -15px;
}
.contacts{
	width: 40px;
	margin-left: -20px;
}

#userinfo{
	justify-self:end;
	width:216px;
	height:400px;
	border: none;
	border-radius: 2.5px;
	margin:100px 20px 0 0;
	box-shadow: 0px 0px 3px 0.5px rgba(0,0,0,0.5);  
	background-color: white;
}
#pic{
	width:188px;
	padding: 14px;
	border-radius: 2.5px;
	background-color: white;
	border: none;	
	font-weight: bold;
	text-align: center;
	font-size: 1.2em;
}

#tags{
	justify-self:end;
	width:194px;
	border-radius: 2.5px;
	margin:0px 20px 0 0;
	box-shadow: 0px 0px 3px 0.5px rgba(0,0,0,0.5); 
	padding: 10px;
	text-align: justify;
	font-size: 13px;
	line-height: 2;
	color: darkgray;
}

.secondSection{
	/* border: 1px solid black; */
}
.post{
	margin:100px 20px 0 20px;
	border-radius: 2.5px;
	box-shadow: 0px 0px 1px 0.5px rgba(0,0,0,0.5); 
	color: #605D5D;
	font-size: 14px;
	background-color: white;

}
.post-title{
	color: gray;
	font-weight: bold;
	padding: 5px 12px;
	/* border-bottom: 1px solid rgb(218, 218, 218); */
	font-size: 1em;
}
.tags{
	color: gray;
	font-weight: bold;
	background-color: white;
	padding: 10px;
	border-bottom: 1px solid rgb(218, 218, 218);
	height: 50px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	overflow-x: scroll;
	/* box-shadow: 0px 1px 2px 1px #ddd; */
}
.tags::-webkit-scrollbar{
	width: 5px;
}
.tags::-webkit-scrollbar-track {
	background: white;        
}
.tags::-webkit-scrollbar-thumb {
	background-color: #e4e4e4;    
	border-radius: 25px;       
	border: 5px solid white;  
}
.tag{
	padding: 5px;
	border: 1.5px solid gray;
	border-radius: 2.5px;
	margin: 0 5px;
}
.noti-content{
	width: 100%;
	display: grid;
	grid-template-columns: auto 1fr auto;
	padding: 10px 0;
	border-bottom: 1px solid rgb(218, 218, 218);
}
.noti-content:hover{
	background-color: #E6F7FF;
}
.noti-image{
	width: 48px;
	padding: 5px 12px;
}
.online-dot{
	width: 12px;
	z-index: 1;
	position: relative;
	right: 23px;
	bottom: 5px;
	margin-right: -16px;
}
/* .online-dot{
	width: 12px;
	display: inline-block;
	position: relative;
	bottom: 6px;
	right: 25px;
	margin-right: -16px;
} */
.noti-info{
	/* border: 1px solid black; */
	font-size: .9em;
	text-align: justify;
}
.set-margin{
	height: 100%;
	margin-top: 4%;
}
.noti-title{
	font-weight: bold;
	font-size: 1em;
}
.overflow{
	padding:0 10px;
	display: flex;
	flex-direction: column;
	margin-left: 15px;
}
.noti-time{
	font-size: 12px;
	color: gray;
}
.quick-view{
	border: 1.5px solid #0073B1;
	border-radius: 2.5px;
	color: #0073b1;
	font-weight: bold;
	padding: 5px;
	cursor: pointer;
	font-size: 1em;
}
.quick-view:hover{
	background-color: #bde4f5;
}


.thirdSection{
	margin:100px 0 0 0;
	line-height: 1.5
}

#newsList {
  	list-style: none;
	font-size: 14px;
	text-align: left;
}

#newsList li::before {
  font-size: 25px;
  content: "\2022";
  color: #33AADA;
  font-weight: bold;
  display: inline-block; 
  margin-left: -1em;
  padding: 0 5px 0 0;
}

/* @media only screen and (max-width: 1200px) {
	#newsList{
		display: none;
	}
	#title{
		display: none;
	}
	#userinfo{
		display: none;
	}
} */

@media only screen and (max-width: 1023px) {
	#newsList{
		display: none;
	}
	#title{
		display: none;
	}
	#userinfo{
		display: none;
	}
	#space{
		margin-left: 5%;
	}
	main{
		grid-template-columns: auto 1fr auto;
	}
	.set-margin{
		margin-top: 2.5%;
	}
	
}
@media only screen and (max-width: 888px) {
	#premium{
		display: none;
	}
}

@media only screen and (max-width: 768px) {
	main{
		display: block;
	}
	.post #jobimg{
		max-width:100%;
		max-height:100%;
	}
}

mheader{
	display: none;
}

mfooter{
	display: none;
}

.footitems{
	
}



#sidebarmenu{
	display: none;
}

#sidebarmenu .menu{
    list-style: none;
	margin-left: -20px;
}

#menuToggle:checked ~ #sidebarmenu{
/*	transform: translateX(0%);*/
	transition: transform 0.5s ease-in-out;
}

#menuToggle{
	display: none;
}

.menu li,a{
    color: black;
}

.menu li{
	padding: 0px 0px 20px 0px;
}

.menu li img{
	vertical-align: middle;
	margin-right: 10px;
}

#profile{
	background-color: #0073b1;
}

#layerForMenu{
	width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    position: fixed;
    top: 0;
    left: -100%;
    overflow: hidden;
}

@media only screen and (max-width: 768px) {
	header{
		display: none;
	}
	mheader{
		display: flex;
		flex-direction: row;
		background: #0073B1;
		color: whitesmoke;
	}
	.firstSection{
		display: none;
	}
	.search{
		width: 100%;
		height: 21px;
		margin-right: 15px;
	}
	input[type="search"]{
		border: none;
		background-color: transparent;
		color: #385260;
		margin-left: 5px;
	}
	.post{
		margin:0 0 0 0;
/*		border-radius: 2.5px;*/
		box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.5); 
		color: #605D5D;
		background-color: white;
		font-size: 14px;
	}
	.post-title{
		color: gray;
		font-weight: bold;
		padding: 5px 12px;
		background-color: #F5F5F5;
		overflow-x: scroll;
	}
	.noti-content{
		/* background-color: #E6F7FF; */
	}
	.noti-image{
		width: 40px;
	}
	.tags{
		padding-bottom: 0;
		margin-bottom: 0;
		-ms-overflow-style: none;
    }
    .tags::-webkit-scrollbar {
        display: none;
    }
	mfooter{
		display: flex;
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
/*		border-top: 1px solid #7A7F85;*/
		background-color: white;
		justify-content: space-between;
		box-shadow: 0px 12px 10px 10px rgba(165, 165, 165, 0.6);
	}
	.footitems{
		padding: 5px;
		margin: 2px;
/*		margin-right: 5px;*/
		color: #7A7F85;
	}
	#sidebarmenu{
		display: block;
		height: 100%;
		position: fixed;
		left: 0;
		top: 0;
		width: 80%;
		background-color: white;
		z-index: 10;
		transform: translateX(-100%);
		transition: transform 0.5s ease-in-out;
	}
	
}

