/*border in elements are added for checking purpose*/

html,body{
	margin: 0;
	padding: 0;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;
	background-color: #F5F5F5;
}

header{
	display: flex;
	flex-direction: row;
	background: #283E4A;
	padding:10px 15vw 0 15vw;
/*	height: 37px;*/
}
#space{
	margin-left: 15%;
}
@media only screen and (max-width: 1100px) {
	header{
		padding:10px 0 0 15px;
	}
}


.search{
	display: flex;
	border: none;
	border-radius: 3px;
	background-color: #E1E9EE;
	color: #385260;
	padding: 7px;
	width:25%;
	height: 21px;
}

input[type="search"]{
	border: none;
	background-color: transparent;
	color: #385260;
	margin-left: 15px;
	width: 100%;
}


.nav_links{
	margin: 3px 0 0 0;
	padding: 0;
	list-style: none;
/*	border: 1px solid black;*/
	display: flex;
	
}

.nav_links li,a{
	padding-right: 25px;
	color: #B3B6B9;
	text-decoration: none;
	text-align: center;
}

.caption{
	font-size: 12px;
	line-height: 0;
	color: #B3B6B9;
}

.text_height{
	line-height: 0.3;
}

#vl{
	border-left: 2px solid #B3B6B9;
	height: 35px;
}


main{
	display: grid;
	grid-template-columns: 2fr 3fr 2fr;
/*	height: 92vh;*/
}



main div{
/*	border: 1px solid black;*/
}

.firstSection{
/*	border: 1px solid black;*/
	display: grid;
}

#userinfo{
	justify-self:end;
	width:216px;
	height:146.6px;
	border: none;
	border-radius: 2.5px;
	margin:100px 20px 0 0;
	box-shadow: 0px 0px 3px 0.5px rgba(0,0,0,0.5);  
}
#pic{
	width:216px;
	height:54px;
	border-radius: 2.5px;
	background-color: #0097B2;
	border: none;
}

#tags{
	justify-self:end;
	width:194px;
	border-radius: 2.5px;
	margin:0px 20px 0 0;
	box-shadow: 0px 0px 3px 0.5px rgba(0,0,0,0.5); 
	padding: 10px;
	text-align: justify;
	font-size: 13px;
	line-height: 2;
	color: darkgray;
}

.post{
	margin:100px 20px 0 20px;
	border-radius: 2.5px;
	box-shadow: 0px 0px 3px 0.5px rgba(0,0,0,0.5); 
	color: #605D5D;
	font-size: 14px;
}

#secondpost{
	margin: 10px 20px 0 20px;
}

.hr{
	border: 0;
    border-bottom: 1px solid #ccc;
    background-color: gray;
}

.post #jobimg{
	max-width:611px;
	padding: 0;
}

.thirdSection{
	margin:100px 0 0 0;
	line-height: 1.5
}

#newsList {
  	list-style: none;
	font-size: 14px;
	text-align: left;
}

#newsList li::before {
  font-size: 25px;
  content: "\2022";
  color: #33AADA;
  font-weight: bold;
  display: inline-block; 
  margin-left: -1em;
  padding: 0 5px 0 0;
}

@media only screen and (max-width: 1200px) {
	#newsList{
		display: none;
	}
	#title{
		display: none;
	}
	#userinfo{
		display: none;
	}
}

@media only screen and (max-width: 1024px) {
	#space{
		margin-left: 5%;
	}
}
@media only screen and (max-width: 888px) {
	#premium{
		display: none;
	}
}

@media only screen and (max-width: 768px) {
	main{
		display: block;
	}
	.post #jobimg{
		max-width:100%;
		max-height:100%;
	}
}

mheader{
	display: none;
}

mfooter{
	display: none;
}

.footitems{
	
}



#sidebarmenu{
	display: none;
}

#sidebarmenu .menu{
    list-style: none;
	margin-left: -20px;
}

#menuToggle:checked ~ #sidebarmenu{
/*	transform: translateX(0%);*/
	transition: transform 0.5s ease-in-out;
}

#menuToggle{
	display: none;
}

.menu li,a{
    color: black;
}

.menu li{
	padding: 0px 0px 20px 0px;
}

.menu li img{
	vertical-align: middle;
	margin-right: 10px;
}

#profile{
	background-color: #0073b1;
}

#layerForMenu{
	width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    position: fixed;
    top: 0;
    left: -100%;
    overflow: hidden;
}

@media only screen and (max-width: 768px) {
	header{
		display: none;
	}
	mheader{
		display: flex;
		flex-direction: row;
		background: #0073B1;
		color: whitesmoke;
	}
	.search{
		width: 100%;
		height: 21px;
		margin-right: 15px;
	}
	input[type="search"]{
		border: none;
		background-color: transparent;
		color: #385260;
		margin-left: 5px;
	}
	.post{
		margin:0 0 0 0;
/*		border-radius: 2.5px;*/
		box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.5); 
		color: #605D5D;
		background-color: white;
		font-size: 14px;
	}
	#secondpost{
		margin: 10px 0 0 0;
	}
	mfooter{
		display: flex;
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
/*		border-top: 1px solid #7A7F85;*/
		background-color: white;
		justify-content: space-between;
		box-shadow: 0px 12px 10px 10px rgba(165, 165, 165, 0.6);
	}
	.footitems{
		padding: 5px;
		margin: 2px;
/*		margin-right: 5px;*/
		color: #7A7F85;
	}
	#sidebarmenu{
		display: block;
		height: 100%;
		position: fixed;
		left: 0;
		top: 0;
		width: 80%;
		background-color: white;
		z-index: 10;
		transform: translateX(-100%);
		transition: transform 0.5s ease-in-out;
	}
	
}

